html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/muli/v20/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30eg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-family: 'Passion One';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local('Passion One Regular'), local('PassionOne-Regular'), url(https://fonts.gstatic.com/s/passionone/v10/PbynFmL8HhTPqbjUzux3JEuR9ls.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

body {
    background-color: #7f9fd2;
    margin: 250px 0 0 0;
    padding: 0;
    font-family: Muli;
}

/* colours for backgrounds based on logo colours:
#034da2
#21409a
#7f9fd2 */

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;  
}

.title {
    height: 30px;
}

.subtitle {
    margin: 0 0 0 80px;
    padding-right: 50px;
}

.header {
    padding-left: 50px;
    text-align: left;
}

.logo {
    float: left;
    height: 50px;
    width: 50px;
    padding-right: 30px;
}

#topnav {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    font-size: 24px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    list-style-type: none;
    padding: 20px 20px;
    width: auto;
}

.menu li {
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    transition: background-color 0.2s;
}

.menu li:hover {
    background-color: #034da2;
    color: #fff;
}

.home, .testimonials, .services {
    border-right: 2px solid black;
}

#about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 25px 5%;
    margin: 0;
    background-color: #034da2;
    height: auto;
    overflow: hidden;
    width: auto;
}

#about-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about h1 {       
    font-size: 4vw;
    text-align: center;
    color: #fff;
}

#about p {
    font-size: 3vw;
    text-align: center;
    color: #90bafd;
}

.cliffs {
    max-width: 50%;
    padding: 20px;
    align-self: center;
}

#services {
    padding: 40px 0 50px 0;
    height: auto;
    text-align: center;
    background-color: #21409a;
    color: #fff;
    font-size: 20px;
}

.offset {
    position: absolute;
    margin-top: -280px;
}

#services h1 {
    text-transform: uppercase;
}

#services h4 {
    text-transform: uppercase;
}

#services p {
    padding: 0 25%;
}

#services ul {
    padding:0;
}

#services li {
    list-style-type: none;
    padding: 5px 0;
}

#emailus {
    display: inline-block;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    color: #034da2;
}

#testimonials {    
    background-color: #7f9fd2;
    color: #fff;
    text-align: center;
    padding: 40px 0 50px 0;
    height: auto;
    margin: 0;
    font-size: 20px;
}

#testimonials h1, h4 {
    text-transform: uppercase;
}

#testimonials p {
    padding: 0 25% 0 25%;
    margin: 0;
    font-size: 20px;
}

#testimonials .quote {
    font-family: "Passion One", cursive;
    font-size: 150px;
    height: 90px;
    margin: 0;
    padding: 0;
}

#contact {
    display: flex;
    flex-direction: row;  
    background-color: #034da2;
    padding: 70px 0 50px 0;
    margin: 0;
    text-align: center;
}

#contactoffset {
    position: absolute;
    margin-top: -320px;
}

#contact input, textarea {
    width: 500px;
    padding: 20px;
    margin: 10px 0;
}

#contact-text {
    width: 750px;
    padding-top: 30px;
    color: #b1cdfa;
    font-size: 20px;
}

#user_msg {
    font-family: Muli;
}

.submitbutton {
    border: 3px solid #fff;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    padding: 16px 32px;
    background-color: #21409a;
    color: white;
    cursor: pointer;    
    font-size: 24px;
    font-weight: 600;
    font-family: Muli;
    letter-spacing: 1px;;
}

.submitbutton:hover {
    background-color: #fff;
    color: #21409a;
    transition: 0.3s;
}

@media only screen and (max-width: 650px) {

     .header {
        padding-left: 10px;
    }
    
    .subtitle {
        font-size: 0.6em;
    }

    .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 0;
    }

    .menu li {
        padding: 5px;
        border: none;
        font-size: 16px;
        height: auto;
    }

    #topnav {
        padding: 0;
        margin: 0;
    }

    #about {
        padding-top: 100px;
    }

    #services a {
        margin-top: -350px;
    }
}